body {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Make the body take full viewport height */
  margin: 0; /* Remove default margin */
  background-color: #edf7ff; /* Optional: Set a background color */
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border-radius: 50px;
  background-color: rgb(61, 61, 61);
  width: 600px;
  height: 715px;
  padding-top: 6px;
  flex-shrink: 0;
}

button {
  cursor: pointer;
  margin: 2px;
  width: 140px;
  height: 140px;
  border-radius: 5px;
  font-size: 60px;
  font-weight: bold;
  background-color: #4fc3f7;
  border-color: #4fc3f7;
  border-style: solid;
}

#display {
  width: 555px;
  height: 100px;
  background-color: #a7a7a7;
  border: 5px solid black;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 60px;
  border-radius: 5px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-bottom: 2px;
  font-weight: bold;
  padding: 10px;
  overflow: hidden;
}

#btn-plus,
#btn-minus,
#btn-divide,
#btn-multiply {
  background-color: #ff9800;
  border-color: #ff9800;
}

#btn-divide {
  border-bottom-right-radius: 50px;
}

#btn-equals {
  background-color: #4caf50;
  border-color: #4caf50;
}
#btn-clear {
  background-color: #f44336;
  border-color: #f44336;
  border-bottom-left-radius: 50px;
}
